/* Estilo para el cuerpo (body) */
body {
    background-image: url(../images/entre-rios-isla-cambacua-c-del-uy-3jpg.webp);
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
    /* Puedes ajustar otros estilos según tus preferencias */
    margin: 0px; /* Elimina el margen predeterminado del cuerpo */
    position: relative;
}

.card{
    margin: auto;
}
