/* Aplica un ancho máximo al formulario para centrarlo en la página */
body {
  background-image: url(../images/zyro-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo para ocupar toda la pantalla */
  padding: 0; /* Elimina los rellenos predeterminados del cuerpo */
  height: 100vh; /* Establece la altura del cuerpo al 100% de la altura de la ventana (viewport height) */
  align-items: center; /* Centra verticalmente el contenido en el cuerpo */
  justify-content: center; /* Centra horizontalmente el contenido en el cuerpo */
}
form {
  padding-top: 20px;
    max-width: 400px; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto; /* Centra el formulario en la página */
  }
  
  /* Establece un ancho para los inputs dentro del formulario */
  .form-control {
    width: 100%; /* El cuadro de entrada ocupará el 100% del ancho del contenedor padre (en este caso, el formulario) */
  }
  .btn {
    margin-top: 15px;
  }