body {
  margin: 0; /* Elimina los márgenes por defecto del body */

  background-image: url(../images/zyro-image-min.png);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat;
  padding-bottom: 10%;

}

  /* Establece un ancho para los inputs dentro del formulario */
  .form-control {
    width: 100%; /* El cuadro de entrada ocupará el 100% del ancho del contenedor padre (en este caso, el formulario) */
  }
  .btn {
    margin-top: 15px;
  }